@charset "UTF-8";

img {
	height: auto;
	object-fit: cover;
}
#hit {
	height: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.car_pic {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 600px;
}

.align_left {
	float: left;
}

.align_right {
	float: right;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 20px;
	margin-right : 10px;
}

.comment {
	font: 11px dotum;
	margin: 5px;
	margin-left: 30px;
	margin-right: 30px;
	padding: 5px;
	background-color: #fafafa;
	border-bottom: 1px dotted #d2d2d2;
	word-wrap: break-word;
	word-break: break-all;
}

.comment_re {
	font: 11px dotum;
	padding: 5px;
	background-color: #fafafa;
	border-bottom: 1px dotted #d2d2d2;
	word-wrap: break-word;
	word-break: break-all;
}

.comment_re_txt {
	background-color: #fafafa;
	line-height: 15px;
	padding: 5px 0 0 0
}

.comment table {
	border-collapse: collapse;
}

.comment th, .board_view td {
	height: 25px;
	text-align: left;
	padding: 8px;
}

.comment th {
	border-bottom: 1px solid #dadada;
	color: #464646;
	font-weight: 600;
	background-color: #f2f2f2;
}

.comment td {
	border-bottom: 1px solid #dadada;
	color: #797979;
}