<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis">
	<!-- login_ok -->
	<select id="login_ok" parameterType="net.chacarge.model1.UserTO" resultType="net.chacarge.model1.UserTO">
		select user_seq, user_id, user_password, user_email, user_name, user_join_date, user_grade, user_token
		from user
		where user_id = #{user_id} and user_password = #{user_password}
	</select>

	<!-- join_ok -->
	<insert id="join_ok" parameterType="net.chacarge.model1.UserTO">
		insert into user 
		values( 0, #{user_id}, #{user_password}, #{user_email}, #{user_name}, DATE_FORMAT(now(), '%Y-%m-%d'), 1, null )
	</insert>
</mapper>