<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis">
	<!-- login_ok -->
	<select id="login_ok" parameterType="net.chacarge.model1.LoginTO" resultType="net.chacarge.model1.UserTO">
		select *
		from user
		where user_id = #{userId}
	</select>

	<!-- join_ok -->
	<insert id="join_ok">
		insert into user( user_id, user_password, user_email, user_name )
		values( #{user_id}, #{user_password}, #{user_email}, #{user_name} )
	</insert> 
	
	<!-- join_ok -->
	<insert id="join_admin_ok">
		insert into user( user_id, user_password, user_email, user_name, user_grade )
		values( #{user_id}, #{user_password}, #{user_email}, #{user_name}, 2 )
	</insert>
	
	
	<!-- estimate 페이지에서 car_data 테이블의 car_name 데이터 가져오기 -->
	<select id="estimate_forSelect_carNameData" parameterType="net.chacarge.model1.EstimateTO" resultType="net.chacarge.model1.EstimateTO">
		select distinct car_name
		from car_data
		order by car_name asc
	</select>
	<select id="estimate_forSelect_carYearData" parameterType="net.chacarge.model1.EstimateTO" resultType="net.chacarge.model1.EstimateTO">
		select distinct car_year
		from car_data
		order by cast(car_year as int) asc
	</select>
	<select id="estimate_forSelect_carAccidentData" parameterType="net.chacarge.model1.EstimateTO" resultType="net.chacarge.model1.EstimateTO">
		select distinct car_ref_accident
		from car_reference_accident
		order by cast(car_ref_accident as int) asc
	</select>
	<select id="estimate_forSelect_carDistanceData" parameterType="net.chacarge.model1.EstimateTO" resultType="net.chacarge.model1.EstimateTO">
		select distinct car_ref_distance
		from car_reference_distance
		order by cast(car_ref_distance as int) asc
	</select>
	
	
	<!-- estimate 페이지에서 select 된 값에 대한 데이터 가져오기 -->
	<select id="car_data_selected" parameterType="net.chacarge.model1.EstimateTO" resultType="net.chacarge.model1.EstimateTO">
		select car_name, car_price, car_year, car_picture
		from car_data
		where car_name = #{car_name}
		and car_year = #{car_year}
	</select>
	<select id="car_distance_selected" parameterType="net.chacarge.model1.EstimateTO" resultType="net.chacarge.model1.EstimateTO">
		select car_ref_distance, car_ref_distance_rate
		from car_reference_distance
		where car_ref_distance = #{car_ref_distance}
	</select>
	<select id="car_accident_selected" parameterType="net.chacarge.model1.EstimateTO" resultType="net.chacarge.model1.EstimateTO">
		select car_ref_accident, car_ref_accident_rate
		from car_reference_accident
		where car_ref_accident = #{car_ref_accident}
	</select>
	
	
	<!-- estimate 페이지에서 select 된 값에 대한 데이터 가져오기 -->
	<select id="car_data_selected_ok" parameterType="net.chacarge.model1.EstimateOkTO" resultType="net.chacarge.model1.EstimateOkTO">
		select car_name, car_price, car_year, car_picture
		from car_data
		where car_name = #{car_name}
		and car_year = #{car_year}
	</select>
	<select id="car_distance_selected_ok" parameterType="net.chacarge.model1.EstimateOkTO" resultType="net.chacarge.model1.EstimateOkTO">
		select car_ref_distance, car_ref_distance_rate
		from car_reference_distance
		where car_ref_distance = #{car_ref_distance}
	</select>
	<select id="car_accident_selected_ok" parameterType="net.chacarge.model1.EstimateOkTO" resultType="net.chacarge.model1.EstimateOkTO">
		select car_ref_accident, car_ref_accident_rate
		from car_reference_accident
		where car_ref_accident = #{car_ref_accident}
	</select>
	
	
	<!-- admin_member_management -->
	<select id="member_management" parameterType="net.chacarge.model1.AdminTO" resultType="net.chacarge.model1.AdminTO">
		select user.user_seq, user_id, user_token, user_name, user_email, user_join_date, user_grade, visitor.visit_date
		from user
		join visitor
		where (user.user_seq = visitor.user_seq)
		and visitor.visit_date in (select max(visitor.visit_date) from visitor group by visitor.user_seq)
		group by user.user_seq
		order by user.user_seq asc
	</select>
	<!-- admin_member_management_search -->
	<select id="member_management_search" parameterType="net.chacarge.model1.AdminTO" resultType="net.chacarge.model1.AdminTO">
		select user.user_seq, user_id, user_token, user_name, user_email, user_join_date, user_grade, visitor.visit_date
		from user
		join visitor
		where (user.user_seq = visitor.user_seq)
		and visitor.visit_date in (select max(visitor.visit_date) from visitor group by visitor.user_seq)
		and user.user_id like concat('%', #{user_search}, '%')
		group by user.user_seq
		order by user.user_seq asc
	</select>
	<!-- admin_member_count -->
	<select id="member_count" parameterType="net.chacarge.model1.AdminTO" resultType="net.chacarge.model1.AdminTO">
		select count(user_seq) user_count
		from user
	</select>
	
	
	<!-- admin_deal_management -->
	<select id="deal_management" parameterType="net.chacarge.model1.AdminTO" resultType="net.chacarge.model1.AdminTO"> 
		select board_seq, board_subject, user.user_id, board_hit, board_wdate
		from board
		join user
		where (user.user_seq = board.user_seq)
 		order by board_seq asc
	</select>
	<!-- admin_deal_management_search -->
	<select id="deal_management_search" parameterType="net.chacarge.model1.AdminTO" resultType="net.chacarge.model1.AdminTO"> 
		select board_seq, board_subject, user.user_id, board_hit, board_wdate
		from board
		join user
		where (user.user_seq = board.user_seq)
 		and board.board_subject like concat('%', #{board_search}, '%')
 		order by board_seq asc
	</select>
	
	
	<!-- admin_statistics_visitor -->
	<select id="statistics_visitor" parameterType="net.chacarge.model1.AdminTO" resultType="net.chacarge.model1.AdminTO"> 
		select visit_date, count(visit_seq) visit_count, sum(count(visit_seq)) over(order by visit_date) visit_sum_count
		from visitor
		group by visitor.visit_date
		order by visit_date desc
	</select>
	
	<!-- admin_statistics_member -->
	<select id="statistics_member" parameterType="net.chacarge.model1.AdminTO" resultType="net.chacarge.model1.AdminTO"> 
		select user_join_date, count(user_seq) user_count, sum(count(user_seq)) over(order by user_join_date) user_sum_count
		from user
		group by user_join_date
		order by user_join_date desc
	</select>
	
	<!-- admin_statistics_deal -->
	<select id="statistics_deal" parameterType="net.chacarge.model1.AdminTO" resultType="net.chacarge.model1.AdminTO"> 
		select board_wdate, count(board_seq) board_count, sum(count(board_seq)) over(order by board_wdate) board_sum_count
		from board
		group by board_wdate
		order by board_wdate desc
	</select>
	
	<!-- board_list -->
	<!-- select board.board_seq, board_subject, substring_index( board_content, "<br/>", 5 ), board_hit, date_format(board_wdate, '%Y-%m-%d') board_wdate, user_seq, board_pic_seq, u_pic_name -->
	<select id="board_list" resultType="net.chacarge.model1.BoardTO">
		select board.board_seq, board_subject, board_content, board_hit, date_format(board_wdate, '%Y-%m-%d') board_wdate, user_seq, board_pic_seq, u_pic_name
		from board
		inner join board_picture
		where board.board_seq = board_picture.board_seq
		group by board.board_seq
		order by board_seq desc
	</select>
	
	<!-- board_write_ok -->
	<insert id="board_write_ok" >
		insert into board( board_seq, board_subject, board_content, board_hit, board_wdate, user_seq )
		values( 0, "${board_subject}", '${board_content}', 0, now(), ${user_seq} )
	</insert>
	
	<!-- insert into board_picture( board_pic_seq, o_pic_name, u_pic_name, board_seq) values( 0, 0, 0, (select max(board_seq) from board) ); -->
	<insert id="board_write_pic" >
		insert into board_picture( board_pic_seq, o_pic_name, u_pic_name, board_seq )
		values( 0, "${o_pic_name}", "${u_pic_name}", (select max(board_seq) from board) )
	</insert>
	
	<!-- user_seq로 user 정보 가져오기 -->
	<select id="id_check" resultType="net.chacarge.model1.UserTO" >
		select * 
		from user
		where user_seq = ${user_seq}
	</select>
	
	<!-- board_view_hit -->
	<update id="board_view_hit" parameterType="net.chacarge.model1.BoardTO" >
		update board
		set board_hit = board_hit+1
		where board_seq = ${board_seq}
	</update>
	
	<!-- board_view -->
	<select id="board_view" parameterType="net.chacarge.model1.BoardTO" resultType="net.chacarge.model1.BoardTO">
		select board_seq, board_subject, board_content, board_hit, date_format(board_wdate, '%Y-%m-%d') board_wdate, user_seq
		from board
		where board_seq = ${board_seq}
	</select>
	
	<!-- board_view_pic -->
	<select id="board_view_pic" parameterType="net.chacarge.model1.BoardTO" resultType="net.chacarge.model1.PictureTO">
		select board_pic_seq, o_pic_name, u_pic_name, board_seq
		from board_picture
		where board_seq = ${board_seq}
	</select>
</mapper>